#react-body{
  height: 100%;
}
.loginRow{
  height:100%;

}
.leftmenu{
  width: 240px;
  float: left;
}
.headrow {
  height: 80px;
  background-color: #0d0e0e;
}
.headRightCol{
   text-align: right;
}
.favRow{
    height: 100%;
}
.favMenu {
  background-color: #0d0e0e;
  border-bottom:0  ;
}
.message{
  width: 42px;
}
.colLeftPa10{
  padding-left: 10px;
}
.colLeftPa20{
  padding-left: 20px;
}
.colRightPa20{
  padding-right: 25px;
}
.marLeft50{
  margin-left: 50px;
}
.marLeft10{
  margin-left: 10px;
}
.contentDiv {
  margin: 10px 0px 0px 10px ;
  min-height:  500px ;
  overflow:  hidden;
}
.breadcrumb{
  margin:  0px 0px 10px  10px;
}

.upload-list-inline .ant-upload-list-item {
display: inline-block;
width: 200px;
margin-right: 8px;
}
.textmiddle{
  text-align: center;
}

.react-context-menu {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    color: #373a3c;
    text-align: left;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    outline: none;
}

.react-context-menu-link {
    display: inline-block;
    width: 100%;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.react-context-menu-link.active,
.react-context-menu-link:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    text-decoration: none;
}
.react-context-menu-item.submenu > a {
    padding-right: 27px;
}

.react-context-menu-item.submenu > a:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

/* 使用 css 技巧来动态设置的对话框位置 */
.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-advanced-search-form {
  padding: 16px 8px;
 
}
/* 由于输入标签长度不确定，所以需要微调使之看上去居中 */
.ant-advanced-search-form > .ant-row {
  position: relative;
  left: -6px;
}

.ant-advanced-search-form .ant-btn + .ant-btn {
  margin-left: 8px;
}
